.quizouterpanel{
    /* background-color: blueviolet;   */
    /* box-shadow: 10px 10px 10px 10px gray; */
    /* background-size: contain; */
}

.socialmedia_bg{
    /* background-image: url(./assets/social.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
}

.quiz-row-outer{
    width: 30%;
}

.swapableview{
    /* box-shadow: 10px 10px 10px 10px gray; */
}

.optionsrow{
    font-size: 20px;
    background: #f5dede;
    padding-left: 10px;
    margin: 10px;
    border-radius: 19px;
    min-height: 140px;
    box-shadow: 5px 5px 5px 5px #b35252;
}

.heart-shape{
    margin-right: 3rem!important;
    margin-top: .5rem!important;
    float: right!important;
    color: white;
}

.text-red{
    color: red;
}

.sharelink{
    font-size: 10px;
    padding:5px 10px 5px 10px;
    background-color: #efdfdf;
}

.playground_css{
    margin: 5rem;
}

.question_text{
    font-size :30px;
    font-weight: bold;
    font-size: 27px;
    font-weight: bold;
    background-image: linear-gradient(281deg, #939bb5, transparent);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
}


@media only screen and (max-width: 500px) {
    .playground_css{
        margin: 1rem;
    }

    .question_text{
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        text-align: inherit;
        color: white;
        background: #22265e;
        font-family: cursive;    
    }

    .fix-heart{
        position: absolute;
        bottom: 1px;
        left: 34%;
        font-size: 45px;
    }

    .optionsrow{
        font-size: 20px;
        background: #f5dede;
        padding-left: 10px;
        margin: 10px;
        border-radius: 19px;
        box-shadow: 5px 5px 5px 5px #b35252;
        min-height: 104px;
    }

    /* .submit_start{
        border: 0;
        background-image: radial-gradient(#ffabab, transparent);
        padding: 0.5rem 2rem 0.5rem 2rem;
        font-size: 26px;
        border-radius: 29px;
        color: #7c7676;
        font-weight: 600;
        border: 10px solid #a34b4b;
    } */

    .arrow_btn{
        position: absolute;
        top: 54%;
    }

    .option_text_css{
        cursor: pointer;
    }

    /* .RFS-StepButton-d2 {
        width: 2em;
        border: none;
        cursor: pointer;
        height: 2em;
        margin: 0px;
        display: flex;
        padding: 0px;
        font-size: 1em;
        align-items: center;
        border-radius: 0% !important;
        justify-content: center;
        background-color: rgb(224, 224, 224);
    } */

    .steps_css{
        border-radius: 0% !important;
        width: 15px !important;
        height: 15px !important;
        background: #0f074d !important;
        padding: 13px!important;
    }

    .RFS-StepContainer{
        padding: 0 !important;
        margin: 0 !important;
        
    }
  }

  .result-css{
    background-color: rgba(255, 255, 255, .15) !important;  
    backdrop-filter: blur(5px) !important;  
    background-image: url(../assets/background/Halo-5-Chief-Vs-Locke-Art.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }

  .result-css:before {
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5) !important;  
    filter: blur(10px) !important;  
    background: inherit !important;  
  }

  .score_str_css{
      background-color: black;
      color: white;
  }

  .submit_start{
    border: 0;
    background-image: radial-gradient(#ffabab, transparent);
    padding: 0.5rem 2rem 0.5rem 2rem;
    font-size: 26px;
    border-radius: 29px;
    color: #7c7676;
    font-weight: 600;
    border: 10px solid #a34b4b;
}

