
.option-image{
    width: 100% !important;
}

.quizouterpanel{
    /* background-color: blueviolet;   */
    /* box-shadow: 10px 10px 10px 10px gray; */
    /* background-size: contain; */
}

.socialmedia_bg{
    /* background-image: url(./assets/social.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
}

.quiz-row-outer{
    width: 30%;
}

.swapableview{
    /* box-shadow: 10px 10px 10px 10px gray; */
}

.optionsrow{
    font-size: 20px;
    background: #f5dede;
    margin: 10px;
    border-radius: 19px;
    min-height: 140px;
    box-shadow: 5px 5px 5px 5px #b35252;
    border : 5px solid white;
}

.optionsMCQrow{
    font-size: 20px;
    background: #06367d;
    margin: 10px;
    border-radius: 19px;
    /* box-shadow: 5px 5px 5px 5px #b35252; */
    border : 5px solid white;
    /* height: 53px; */
    width: 80%;
    font-size: 20px;
}

.optionsMCQrow:hover{
    transform: translate(0,7px);
    box-shadow: 0 5px 5px 5px #94b0cd;
}

.heart-shape{
    margin-right: 0.5rem!important;
    margin-top: .5rem!important;
    float: right!important;
    color: white;
    font-size: 35px;
}

.text-red{
    color: red;
}

.sharelink{
    font-size: 10px;
    padding:5px 10px 5px 10px;
    background-color: #efdfdf;
}

.question_text{
    font-size :30px;
    font-weight: bold;
    font-size: 15px;
    font-weight: bold;
    background-image: linear-gradient(281deg, #939bb5, transparent);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
}


.question_text{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    text-align: inherit;
    color: white;
    background: #22265e;
    font-family: cursive;    
}

.fix-heart{
    position: absolute;
    bottom: 1px;
    left: 34%;
    font-size: 45px;
}

.option_text_css{
    cursor: pointer;
    color: white;
}

/* .steps_css{

    width: 10px !important;
    height: 10px !important;
    background: #0f074d !important;
    padding: 10px!important;
} */

.RFS-StepContainer{
    padding: 0 !important;
    margin: 0 !important;
    
}

/* 
@media only screen and (max-width: 500px) {
  




    .optionsrow{
        font-size: 20px;
        background: #f5dede;
        margin: 10px;
        border-radius: 19px;
        box-shadow: 5px 5px 5px 5px #b35252;
        min-height: 104px;
    }

    /* .submit_start{
        border: 0;
        background-image: radial-gradient(#ffabab, transparent);
        padding: 0.5rem 2rem 0.5rem 2rem;
        font-size: 26px;
        border-radius: 29px;
        color: #7c7676;
        font-weight: 600;
        border: 10px solid #a34b4b;
    } */

    .arrow_btn{
        position: absolute;
        top: 50%;
    }

    .option_text_css{
        cursor: pointer;
    }

    /* .RFS-StepButton-d2 {
        width: 2em;
        border: none;
        cursor: pointer;
        height: 2em;
        margin: 0px;
        display: flex;
        padding: 0px;
        font-size: 1em;
        align-items: center;
        border-radius: 0% !important;
        justify-content: center;
        background-color: rgb(224, 224, 224);
    } */

    .stepper_outer_panel{

    }

    .steps_css{
        /* border-radius: 10px !important; */
        width: 10px !important;
        height: 4px !important;
        background: #0f074d !important;
        display: inline-block;
        cursor: pointer;
        font-size: 0px;
        margin: 0 2px 0 2px;
    }

    .step_css_active{
        /* border-radius: 10px !important; */
        width: 10px !important;
        height: 4px !important;
        background: red !important;
        display: inline-block;
        cursor: pointer;
        font-size: 0px;
        margin: 5px 5px 0 5px;
        padding: 5px 5px 0 5px;
    }
    
    .step_counter_css{
        color: white;
        font-weight: bold;
    }

    .RFS-StepMain .active{
        background-color: red !important;
    }

    .RFS-StepContainer{
        padding: 0 !important;
        margin: 0 !important;
        
    }

  .result-css{
    background-color: rgba(255, 255, 255, .15) !important;  
    backdrop-filter: blur(5px) !important;  
    background-image: url(../assets/background/Halo-5-Chief-Vs-Locke-Art.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }

  .result-css:before {
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5) !important;  
    filter: blur(10px) !important;  
    background: inherit !important;  
  }

  .score_str_css{
      background-color: black;
      color: white;
  }

  .submit_start{
    border: 0;
    /* background-image: radial-gradient(#ffabab, transparent); */
    padding: 0.5rem 2rem 0.5rem 2rem;
    font-size: 16px;
    border-radius: 29px;
    color: #7c7676;
    font-weight: 600;
    /* border: 10px solid #a34b4b; */
    background: #e1e6ff;
}

.textover_figcaption {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    font-size: 10px;
  }

  .playground-panel{
    margin: 14px;
    box-shadow: 0 0 5px 8px #273bcd33;
    border-radius: 55px;
    background-image: url(../assets/background/playcover1.jpeg);
    height: 90%;
  }

  .stepper-panel{
      min-height: 8%;
  }

  .option-section{
      min-height: 50%;
  }

  .question-section{
      min-height: 36%;
  }

  .playground-outerpanel{
      height: 100%;
      /* margin : 0 10px 0 10px; */
      /* margin-top: 10%; */
      display: flex;
      justify-content: center;
  }
    
   .play-nav-panel{
       display: flex;
   }

   .play-left-nav{
    flex: 2;
   }

   .play-left-nav:hover{
       flex: 2;
       background-color: #30806736;
   }

   .play-center-container{
       flex : 19;
   }

   .play-right-nav{
    flex: 1;
   }

   .play-right-nav:hover{
    flex: 2;
    background-color: #30806736;
   }

   .scroller-container{
       max-height: 100%;
       overflow-y: auto;
   }

   * {
    cursor: pointer;
    caret-color: rgba(0,0,0,0) !important;
   }

   .mobile-view-css{
    max-width: 622px !important;
    min-width: 300px;
    box-shadow: 0px 0px 8px 6px #e9e9e9;
    height: 98%;
    width: 100%;
   }

   .f-30{
       font-size: 30px;
   }


  /* @media only screen and (min-width: 480px) {
    .mobile-view-css{
        max-width: 480px !important;
        min-width: 371px;
        box-shadow: 0px 0px 8px 6px #e9e9e9;
        height: 98%;
        width: 100%;
       }
  } */
