.mediaViewInfo {
    --web-view-name: Web 1920 – 2;
    --web-view-id: Web_1920__2;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Web_1920__2;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Web_1920__2 {
    position: absolute;
    width: 1920px;
    height: 5050px;
    background-color: rgba(255,255,255,0.749);
    overflow: hidden;
    --web-view-name: Web 1920 – 2;
    --web-view-id: Web_1920__2;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
#Rectangle_1 {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_1 {
    position: absolute;
    overflow: visible;
    width: 1866px;
    height: 86px;
    left: 27px;
    top: 27px;
}
#friendship {
    position: absolute;
    width: 57px;
    height: 57px;
    left: 40px;
    top: 42px;
    overflow: visible;
}
#Truth_or_Dare_Game__ {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.502));
    left: 57px;
    top: 2224px;
    position: absolute;
    overflow: visible;
    width: 830px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 74px;
    color: rgba(0,0,0,1);
}
#What_do_you_need_for_Truth_or_ {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.502));
    left: 57px;
    top: 3033px;
    position: absolute;
    overflow: visible;
    width: 1405px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 74px;
    color: rgba(0,0,0,1);
}
#Truth_or_Dare_has_been_around_ {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.502));
    left: 63px;
    top: 2426px;
    position: absolute;
    overflow: visible;
    width: 1795px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    color: rgba(0,0,0,0.678);
    letter-spacing: 0.05px;
}
#Players_Two_or_more_its_also_f {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.502));
    left: 57px;
    top: 3256px;
    position: absolute;
    overflow: visible;
    width: 1357px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    color: rgba(0,0,0,0.678);
    letter-spacing: 0.05px;
}
#Party {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.502));
    left: 560px;
    top: 58px;
    position: absolute;
    overflow: visible;
    width: 51px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#Bhola_Games_ {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.502));
    left: 118px;
    top: 44px;
    position: absolute;
    overflow: visible;
    width: 256px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: rgba(0,0,0,1);
}
#party {
    position: absolute;
    width: 31px;
    height: 31px;
    left: 507px;
    top: 58px;
    overflow: visible;
}
#Group_1 {
    position: absolute;
    width: 187px;
    height: 32px;
    left: 681px;
    top: 57px;
    overflow: visible;
}
#Conversations {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.502));
    left: 54px;
    top: 1px;
    position: absolute;
    overflow: visible;
    width: 134px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#hello {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Group_2 {
    position: absolute;
    width: 132px;
    height: 41px;
    left: 939px;
    top: 55px;
    overflow: visible;
}
#Riddles {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.502));
    left: 63px;
    top: 5px;
    position: absolute;
    overflow: visible;
    width: 70px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#puzzle-game {
    position: absolute;
    width: 41px;
    height: 41px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Group_3 {
    position: absolute;
    width: 118px;
    height: 37px;
    left: 1142px;
    top: 54px;
    overflow: visible;
}
#Quotes {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.502));
    left: 51px;
    top: 5px;
    position: absolute;
    overflow: visible;
    width: 68px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(0,0,0,1);
}
#quotation-mark {
    position: absolute;
    width: 37px;
    height: 37px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#magnifying-glass {
    position: absolute;
    width: 37px;
    height: 37px;
    left: 1833px;
    top: 52px;
    overflow: visible;
}
#gift-box {
    position: absolute;
    width: 46px;
    height: 46px;
    left: 1759px;
    top: 43px;
    overflow: visible;
}
#Truth_or_Dare_ {
    left: 567px;
    top: 564px;
    position: absolute;
    overflow: visible;
    width: 696px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 106px;
    color: rgba(0,0,0,1);
}
#Looking_for_the_best_Truth_or_ {
    left: 147px;
    top: 849px;
    position: absolute;
    overflow: visible;
    width: 1627px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    color: rgba(0,0,0,0.722);
}
#Fun_embarassing_and_sexy_ {
    left: 552px;
    top: 347px;
    position: absolute;
    overflow: visible;
    width: 709px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    color: rgba(0,0,0,1);
}
#Rectangle_7 {
    fill: rgba(0,0,0,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_7 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 882px;
    left: 0px;
    top: 4168px;
}
#Rectangle_8 {
    fill: rgba(255,255,255,0);
    stroke: rgba(255,255,255,1);
    stroke-width: 5px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_8 {
    position: absolute;
    overflow: visible;
    width: 553px;
    height: 159px;
    left: 693px;
    top: 4237px;
}
#Search_ {
    left: 788px;
    top: 4270px;
    position: absolute;
    overflow: visible;
    width: 252px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 74px;
    color: rgba(255,255,255,1);
}
#right-arrow {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 1074px;
    top: 4275px;
    overflow: visible;
}
#Top_Party_Games_ {
    left: 41px;
    top: 4436px;
    position: absolute;
    overflow: visible;
    width: 350px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    color: rgba(255,255,255,1);
}
#Quizzes {
    left: 575px;
    top: 4463px;
    position: absolute;
    overflow: visible;
    width: 152px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    color: rgba(255,255,255,1);
}
#Online_Games {
    left: 996px;
    top: 4463px;
    position: absolute;
    overflow: visible;
    width: 274px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    color: rgba(255,255,255,1);
}
#Quotes_be {
    left: 1539px;
    top: 4463px;
    position: absolute;
    overflow: visible;
    width: 141px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    color: rgba(255,255,255,1);
}
#Truth_or_Dare__bf {
    left: 52px;
    top: 4567px;
    position: absolute;
    overflow: visible;
    width: 165px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(67,58,58,1);
}
#Superman_Quizess {
    left: 575px;
    top: 4567px;
    position: absolute;
    overflow: visible;
    width: 216px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(67,58,58,1);
}
#Trivia_Live {
    left: 996px;
    top: 4567px;
    position: absolute;
    overflow: visible;
    width: 119px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(67,58,58,1);
}
#Inspirational_Quotes_ {
    left: 1539px;
    top: 4551px;
    position: absolute;
    overflow: visible;
    width: 246px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(67,58,58,1);
}
#Funny_Quotes_ {
    left: 1539px;
    top: 4593px;
    position: absolute;
    overflow: visible;
    width: 170px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(67,58,58,1);
}
#Sudoku {
    left: 996px;
    top: 4609px;
    position: absolute;
    overflow: visible;
    width: 90px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(67,58,58,1);
}
#Avengers_Quizzes {
    left: 575px;
    top: 4609px;
    position: absolute;
    overflow: visible;
    width: 213px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(67,58,58,1);
}
#What_DD_race_are_you_ {
    left: 575px;
    top: 4651px;
    position: absolute;
    overflow: visible;
    width: 297px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(67,58,58,1);
}
#About_Us_ {
    left: 925px;
    top: 4912px;
    position: absolute;
    overflow: visible;
    width: 117px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(67,58,58,1);
}
#Careers {
    left: 1159px;
    top: 4912px;
    position: absolute;
    overflow: visible;
    width: 88px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(67,58,58,1);
}
#Terms_of_Services_ {
    left: 1364px;
    top: 4912px;
    position: absolute;
    overflow: visible;
    width: 212px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(67,58,58,1);
}
#Privacy_Policy_ {
    left: 1693px;
    top: 4912px;
    position: absolute;
    overflow: visible;
    width: 169px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(67,58,58,1);
}
#Which_fruit_basket_character__ {
    left: 575px;
    top: 4693px;
    position: absolute;
    overflow: visible;
    width: 340px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(67,58,58,1);
}
#Never_Have_I_Ever {
    left: 52px;
    top: 4609px;
    position: absolute;
    overflow: visible;
    width: 209px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(67,58,58,1);
}
#Would_you_rather_ {
    left: 52px;
    top: 4651px;
    position: absolute;
    overflow: visible;
    width: 225px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(67,58,58,1);
}
#Kings_Cup_ {
    left: 52px;
    top: 4693px;
    position: absolute;
    overflow: visible;
    width: 126px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(67,58,58,1);
}
#Path_1 {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 5px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_1 {
    overflow: visible;
    position: absolute;
    width: 250px;
    height: 82px;
    left: 39px;
    top: 4871px;
    transform: matrix(1,0,0,1,0,0);
}
#English {
    left: 73px;
    top: 4896px;
    position: absolute;
    overflow: visible;
    width: 85px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(0,0,0,1);
}
#union-jack {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 177px;
    top: 4889px;
    overflow: visible;
}
#Polygon_1 {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Polygon_1 {
    overflow: visible;
    position: absolute;
    width: 19px;
    height: 13px;
    transform: matrix(1,0,0,1,239,4907.5) rotate(180deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}
#n_12x512bb {
    position: absolute;
    width: 923px;
    height: 923px;
    left: 499px;
    top: 1113px;
    overflow: visible;
}
#Group_7 {
    position: absolute;
    width: 629px;
    height: 240px;
    left: 646px;
    top: 3772px;
    overflow: visible;
}
#Rectangle_9 {
    fill: rgba(203,112,112,1);
    stroke: rgba(0,0,0,1);
    stroke-width: 10px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_9 {
    position: absolute;
    overflow: visible;
    width: 629px;
    height: 240px;
    left: 0px;
    top: 0px;
}
#PLAY_ {
    left: 192.5px;
    top: 48px;
    position: absolute;
    overflow: visible;
    width: 290px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 108px;
    color: rgba(255,255,255,0.678);
    letter-spacing: 0.05px;
}