.hover-zoom {
    display: inline-block;
    margin: 10px;
    height: 406px;
    width: 256px;
    border-radius: 35px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: gray;
    position: relative;
    /* background-image: url('../assets/background/test.jpg'); */
    background-size: cover;
  }

  .quizz_image_css{
    display: inline-block;
    margin: 10px;
    height: 387px;
    width: 280px;
    border-radius: 35px;
  }

  .hover-zoom:hover {
    background-size: 120%;
    z-index: 10;
    /* height: "500px";
    width:"500px"; */
  }

  /* .image-float{
    display: inline-block;
    position: absolute;
    margin: 10px;
    height: 384px;
    width: 256px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-size: 100%;
    position: relative;
    background-image: url('../assets/background/test.jpg');
    background-size: cover;
    font-size: 40px;
    color: whitesmoke;
  }

  .image-float:hover{
    display: inline-block;
    position: absolute;
    margin: 10px;
    height: 384px;
    width: 256px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-size: 100%;
    position: relative;
    background-image: url('../assets/background/test.jpg');
    background-size: cover;
    font-size: 0px
  } */

  .floated-text{
    position: absolute;
    z-index: 1;
    top: 5%;
    left: 0%;
    font-size: 40px;
    color: whitesmoke;
    margin: 10px;
    height: 385px;
    width: 256px;
    border-radius: 35px;
    background-image: linear-gradient(352deg , #2d2db1, transparent);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .floated-text:hover{
    z-index: -1;
  }



  .image_card{
     position: relative;
  }

  .quizz-tag{
      position:absolute;
      bottom: 0;
  }

  .cover-css{
      background-image: url(../assets/background/cover.jpg);
      height: 400px;
      width: 100%; 
  }

  .float-cover{
    background-image: linear-gradient(352deg , #2d2db1, transparent);
    position: absolute;
    height: 400px;
    width: 100%;
  }



  @media screen and (min-width: 400px) {

    .hover-zoom {
      display: inline-block;
      margin: 10px;
      height: 406px;
      width: 300px;
      border-radius: 35px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-color: gray;
      position: relative;
      /* background-image: url('../assets/background/test.jpg'); */
      background-size: cover;
    }
  
    .hover-zoom:hover {
      background-size: 120%;
      z-index: 10;
      /* height: "500px";
      width:"500px"; */
    }

    .floated-text{
      position: absolute;
      z-index: 1;
      top: 5%;
      left: 0%;
      font-size: 40px;
      color: whitesmoke;
      margin: 10px;
      height: 385px;
      width: 300px;
      border-radius: 35px;
      /* background-image: linear-gradient(352deg , #2d2db1, transparent); */
      background-image: linear-gradient(352deg ,red, transparent);
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
  
    .floated-text:hover{
      z-index: -1;
    }

    .cover-css{
      background-position: top;
    }
    
  }



  @media screen and (min-width: 1500px) {

    .hover-zoom {
      display: inline-block;
      margin: 10px;
      height: 406px;
      width: 315px;
      border-radius: 35px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-color: gray;
      position: relative;
      /* background-image: url('../assets/background/test.jpg'); */
      background-size: cover;
    }
  
    .hover-zoom:hover {
      background-size: 120%;
      z-index: 10;
      /* height: "500px";
      width:"500px"; */
    }

    .floated-text{
      position: absolute;
      z-index: 1;
      top: 5%;
      left: 0%;
      font-size: 70px;
      color: whitesmoke;
      margin: 10px;
      height: 385px;
      width: 315px;
      border-radius: 35px;
      background-image: linear-gradient(352deg , #2d2db1, transparent);
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
  
    .floated-text:hover{
      z-index: -1;
    }

    .cover-css{
      background-position: top;
    }
    
  }

  